[Desktop Entry]
Exec=bigjig
GenericName[de_DE]=Puzzle
GenericName=Jigsaw Puzzle
Icon=bigjig
Name[de_DE]=BigJig
Name=BigJig
Terminal=false
TerminalOptions=
Type=Application
Categories=Game;LogicGame