[Desktop Entry]
Exec=jigsoid
GenericName[de_DE]=Puzzle
GenericName=Jigsaw Puzzle
Icon=jigsoid
Name[de_DE]=Jigsoid Puzzle
Name=Jigsoid
Terminal=false
TerminalOptions=
Type=Application
Categories=Game;LogicGame